/* Normalização */

body, 
h1, 
h2, 
p 
{ /* resetando todos os parametros automáticos do html*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Início do CSS */

body {
    background: lightblue;
}

.polaroid {
    background: white;
    padding: 15px 15px 40px;
    box-shadow: 1px 1px 2px #22222288;
}

.polaroid img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.pai {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(aut-fit minmax(250px, 1fr));
    gap: 40px;
    margin: 40;
    padding: 20;
}